{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1 class="header-title">Люберецкий Техникум</h1>
        <img src="{% static 'min.jpg' %}" alt="Люберецкий Техникум" class="header-image">
        <a href="{% url 'glavnaya' %}" class="registration-button">Главная</a>
    </header>

    <main>
        <section class="register">
            <div class="container">
                <h2>Создать аккаунт</h2>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Люберецкий Техникум. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>